<!-- main.handlebars (DNWorld) -->

<!-- !DOCTYPE html -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>Nomad World</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Nomad World</a>
        </div>
        <div class="form-group text-center">
          <label for="keywordSearch">Search</label>
          <input id="keywordSearch" class="form-control" type="text" name="keywordSearch" value="{{{status.keywords}}}"/>
        </div>
        <div class="pull-right">
          <a class="btn btn-default navbar-btn" href="/globe">See The World</a>
        </div>
        <div class="pull-right">
          <a class="btn btn-default navbar-btn" href="/statuses/new">New Status</a>
          <form action=""></form>
        </div>
      </div>
    </nav>

    <div class="container">
      {{{home}}}
      {{{body}}}
    </div>

  </body>
  <footer>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="pull-right">
          <a class="btn btn-default navbar-btn" href="https://nomadlist.com">Reference</a>
        </div>
      </div>
    </nav>
  </footer>
</html>
