<!-- globe-new.handlebars -->

<div class="container-fluid">
    <a class="btn btn-default">United States</a>
    <a class="btn btn-default">India</a>
    <a class="btn btn-default">China</a>
    <a class="btn btn-default">Thailand</a>
    <a class="btn btn-default">Brazil</a>
    <a class="btn btn-default">France</a>
</div>