<!-- globe-show.handlebars -->

<a href="/globe">Back to Global Navigation</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <p id="globalDataLoad">
        <script>            
            var redundantLink = "http://localhost:3000/globe/"
            var globeShowId = window.location.href;
            var checkCountryId = cutLink(redundantLink, globeShowId)

            // Function that hacks off the redundant part of the link and returns the unique web address ID
            function cutLink(redundantLink, globeShowId) {
                return globeShowId.substr(redundantLink.length, globeShowId.length);
            }

            // Create loop that reads what the site's href is and loads the appropriate information
            // Create loop to check what ID is against data.txt and print available data contextually

            // Checks if country is United States, corrects title, then loads contextual information
            if (checkCountryId == "usa") {
                document.getElementById("globalDataLoad").innerHTML = "This country is the United States of America.";
            } else if (checkCountryId == "skorea") {
                document.getElementById("globalDataLoad").innerHTML = "This country is South Korea.";
            } else {
                checkCountryId = checkCountryId[0].toUpperCase() + checkCountryId.slice(1, checkCountryId.length);

                document.getElementById("globalDataLoad").innerHTML = `This country is ${checkCountryId}.`;
            }

        </script>
      </p>
  </div>
</div>