<!-- globe-show.handlebars -->

<a href="/globe">Back to Global Navigation</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <p id="globalDataLoad">
        <script>  
            var redundantLink = "http://localhost:3000/globe/"
            var globeShowId = window.location.href;
            var checkCountryId = cutLink(redundantLink, globeShowId)

            // Attempt to write a JSON request using vanilla JS
            with open("data.json") as data_file:
                globeDataJSON = json.load(data_file);

            console.log(globeDataJSON);

            // Function that hacks off the redundant part of the link and returns the unique web address ID
            function cutLink(redundantLink, globeShowId) {
                return globeShowId.substr(redundantLink.length, globeShowId.length);
            }

            // Checks if country is United States, corrects title, then loads contextual information
            if (checkCountryId == "usa") {
                document.getElementById("globalDataLoad").innerHTML = "This country is the United States of America.";

                // Load USA information
                
            } else if (checkCountryId == "skorea") {
                document.getElementById("globalDataLoad").innerHTML = "This country is South Korea.";

                // Load South Korea information
            } else {
                checkCountryId = checkCountryId[0].toUpperCase() + checkCountryId.slice(1, checkCountryId.length);

                document.getElementById("globalDataLoad").innerHTML = `This country is ${checkCountryId}.`;

                // Create loop of IFs to load other country information
            }

        </script>
      </p>
  </div>
</div>