<!-- globe-index.handlebars -->

<div class="container-fluid">
    <div id="globeIndexWell" class="col-sm-6 col-sm-offset-3 well">
        <legend style="text-align: center;">World of Digital Nomads</legend>
        <div class="row">
            <a href="/"><h4 class="pull-left">Back to Home</h4></a>
        </div>
        <div style="text-align: center;">
            <div class="row">
                <a class="btn btn-info btn-circle btn-lg" href="globe/usa">UNITED STATES</a>
                <a class="btn btn-info btn-circle btn-lg" href="globe/india">INDIA</a>
                <a class="btn btn-info btn-circle btn-lg" href="globe/china">CHINA</a>
            </div>
            <div class="row">
                <a class="btn btn-info btn-circle btn-lg" href="globe/thailand">THAILAND</a>
                <a class="btn btn-info btn-circle btn-lg" href="globe/brazil">BRAZIL</a>
                <a class="btn btn-info btn-circle btn-lg" href="globe/france">FRANCE</a>
            </div>
            <div class="row">
                <a class="btn btn-info btn-circle btn-lg" href="globe/japan">JAPAN</a>
                <a class="btn btn-info btn-circle btn-lg" href="globe/russia">RUSSIA</a>
                <a class="btn btn-info btn-circle btn-lg" href="globe/skorea">SOUTH KOREA</a>
            </div>
        </div>
    </div>
</div>