<!-- globe-show.handlebars -->

<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <p id="testJSLoad"></p>
      <script type="javascript">
          var globeShowId;

          // Create loop that reads what the site's href is and loads the appropriate information
          document.getElementById("testJSLoad").innerHTML = "Page location is " + window.location.href;
      </script>
  </div>
</div>