<!-- home.handlebars -->

<head>

<body>
  <div class="buttons" action="/">
    <button type="button" name="america">United States of America</button>
    <button type="button" name="india">India</button>
    <button type="button" name="china">China</button>
    <button type="button" name="north korea">North Korea</button>
  </div>
</head>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
