<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ status.subject }}</h1>  <!-- should be status.subject instead of status.title to match Model schema -L -->
        <h5>{{ status.city }}</h5>
        <h4>{{ status.country }}</h4>
        <p>{{ status.description }}</p>
  </div>
</div>
