<!-- statuses-index.handlebars (DNworld) -->

<div class="container-fluid">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <button type="button-submit" name="testButton">Click to crash!
      <!-- <script type="text/javascript">
        // console.log("poop");
      </script> -->
    </button>
  </div>
</div>
