<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    Show Status!
    <h1>{{> status.subject}}</h1>
    <h5>{{> status.country}}</h5>
    <h4>{{> status.city}}</h4>
    <p>{{> status.description}}</p>
  </div>
</div>
