<!-- statuses-new.handlebars -->

<script>
    $(document).ready(function() {
        $("#homeFooter").addClass("opaqueFull");
    });
</script>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div id="newStatusWell" class="well container-fluid">
      <legend>New Status</legend>
      {{> statuses-form }}
    </div>
  </div>
</div>
