<!-- statuses-index.handlebars (DNworld) -->

<div class="container-fluid">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <button type="button-submit" name="testButton" id="testButton">Click to crash!
      
    </button>
  </div>
</div>
