<!-- statuses-new.handlebars -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div id="newStatusWell" class="well container-fluid">
      <legend>New Status</legend>
      {{> statuses-form }}
    </div>
  </div>
</div>
