<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ status.title }}</h1>
        <h5>{{ status.city }}</h5>
        <h4>{{ status.country }}</h4>
        <p>{{ status.description }}</p>
  </div>
</div>
