  <div>
    <h1>Welcome to the World of Digital Nomads!</h1>
    <p>This is an open community of entrepreneurs, business leaders, software developers, and designers decided to implementing their skills on a global scale.</p>
    <div id="userForm">
      <!-- USERNAME -->
      <div class="form-group">
        <label for="username">What is your name?</label>
        <input class="form-control" type="text" name="username" value="{{{user.name}}}" />
      </div>

      <!-- CAREER -->     
      <div class="form-group">
        <label for="country">What is your job?</label>
        <input class="form-control" type="text" name="career" value="{{{user.career}}}" />
      </div>

      <!-- LOCATION -->
      <div class="form-group">
        <label for="location">Where are you working?</label>
        <input class="form-control" type="text" name="location" value="{{{user.location}}}" />
      </div>

      <!-- BUTTON -->
        <button type="submit" class="btn btn-primary btn-submit" href="">Save User Info</button>
    </div>

    <p>Looking for any particular locations? Use the search option below.</p>
    <div id="searchQuery">
    </div>
  </div>
  